@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Chewy&family=Dancing+Script:wght@400..700&family=Knewave&family=Luckiest+Guy&family=Orbitron:wght@400..900&family=Syne+Mono&family=Titan+One&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root{
    --headingFont:"Dancing script", sans-serif;
}

h1,h2 {
  font-family:var(--headingFont);
  font-weight: bolder;
}

button, a {
    cursor: pointer;
}

.btn{
  position:relative;
}

.btn::before{
  position: absolute;
  content: "";
  width:0%;
  height:1px;
  z-index: 1;
  background-color: white;
  bottom: -2px;
  left: 0;
}

.btn:hover::before{
    width: 100%;
    transition:.3s;
}

.mq {
  position: relative; 
}

.mq::before{
  content: "";
  background-color:goldenrod;
  width:0;
  height: 1px;
  bottom: 0;
  position: absolute;
  left: 0;
}

.mq:hover::before{
  width: 100%;
  transition: .8s;
}

.proc{
  position:relative;
}

.proc::before{
  content: "";
  position: absolute;
  width:15px;
  height:15px;
  background:lightgrey;
  z-index: 10;
  left:0;
  top:0px;
  border-radius:50%;
}

.proc::after{
  content:"";
  position: absolute;
  width:2px;
  height:100%;
  background:rgba(128, 128, 128, 0.258);
  left:6px;
  top:0px;
}


